body {
    background: #20292E;
} 

.compass {
    position: absolute;
    margin: auto;
    margin-top: -130px;
    margin-left: -130px;
    top: 50%;
    left: 50%;
    background: #C74F49;
    width: 260px;
    height: 260px;
    border-radius: 130px;
}

.spinPart {
    position: relative;
    width: 248px;
    height: 248px;
    background: #2A3539;
    margin: auto;
    top: 6px;
    border-radius: 124px;
    background-image: radial-gradient(circle at center, #708090 8px, transparent 1px), 
        radial-gradient(circle at center 55%, rgba(0,0,0,0.9) 1px, transparent 5px), 
        radial-gradient(circle at center, #2A3539 54%, transparent 50%, transparent 55.5%, #2A3539 55%), 
        linear-gradient(15deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(30deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(45deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(60deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(75deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(-15deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(-30deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(-45deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(-60deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%),
        linear-gradient(-75deg, transparent 50.2%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%);
}

.spinCenter {
    position: relative;
    width: 130px;
    height: 130px;
    background: #20292E;
    margin: auto;
    top: 60px;
    border-radius: 65px;
}

.spinPointer {
    position: relative;
    border-radius: 15px;
}

.spinPointer::after {
    content: ''; 
    position: absolute; 
    left: 110px;
    top: -135px;
    border: 15px solid transparent; 
    border-top: 15px solid #C74F49; 
}

.north, .east, .west, .south {
    position: relative;
    color: #fff;
    font-family: RobotoSlab-Thin; 
    font-size: 24px;
}

.north {
    font-family: RobotoSlab-Regular;
    left: 115px;
    top: -117px; 
}

.east {
    left: -95px;
    top: -235px; 
    transform: rotateZ(-90deg);
}

.west {
    left: 95px;
    top: 25px; 
    transform: rotateZ(90deg);
}

.south {
    left: -115px;
    top: 40px;
    transform: rotateZ(180deg);
}

@font-face {
    font-family: RobotoSlab-Thin; 
    src: url(fonts/RobotoSlab-Thin.ttf);  
}
@font-face {
    font-family: RobotoSlab-Regular; 
    src: url(fonts/RobotoSlab-Regular.ttf);  
}
@font-face {
    font-family: RobotoSlab-Light; 
    src: url(fonts/RobotoSlab-Light.ttf);  
}
@font-face {
    font-family: RobotoSlab-Bold; 
    src: url(fonts/RobotoSlab-Bold.ttf);  
}

.pointer {
    position: relative;
    margin: auto;
    width: 95px;
    height: 95px;
    background: #BE4D45;
    margin-top: -162px;
    transform: rotateZ(45deg);
    border-radius: 100px;
    border-top-left-radius: 0;
}

.pointerCenter {
    position: relative;
    background: #AB4540;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    bottom: -7.5px;
    left: 7.5px;
    box-shadow:inset 0px 1px 2px rgba(0,0,0,0.5);
    transform: rotateZ(-45deg);
}

.direction, .degreeValue {
    position: relative;
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.direction {
    padding-top: 10px;
    font-family: RobotoSlab-Regular;  
}

.degreeValue {
    top: -8px;
    margin-left: 8px;
    font-size: 22px;
    font-family: RobotoSlab-Thin; 
}
