body {
    background: #20292E;
} 

.compass {
    position: relative;
    margin: auto;
    margin-top: 100px;;
    background: #C74F49;
    width: 260px;
    height: 260px;
    border-radius: 130px;
}

.spinPart {
    position: relative;
    width: 248px;
    height: 248px;
    background: #2A3539;
    margin: auto;
    top: 6px;
    border-radius: 124px;
    /* transform: rotateZ(67deg); */
    /* -webkit-transition: .5s duration timing-function delay;
    -moz-transition: .5s duration timing-function delay;
    transition: .5s duration timing-function delay; */
}

.spinCenter {
    position: relative;
    width: 130px;
    height: 130px;
    background: #20292E;
    margin: auto;
    top: 60px;
    border-radius: 65px;
}

.spinPointer {
    position: relative;
    border-radius: 15px;
}

.spinPointer::after {
    content: ''; 
    position: absolute; 
    left: 110px;
    top: -130px;
    border: 15px solid transparent; /* Прозрачные границы */
    border-top: 15px solid #C74F49; /* Добавляем треугольник */
}

.north, .east, .west, .south {
    position: relative;
    color: #fff;
    font-family: RobotoSlab-Thin; 
    font-size: 24px;
}

.north {
    font-family: RobotoSlab-Regular;
    left: 115px;
    top: -115px; 
}

.east {
    left: -95px;
    top: -235px; 
    transform: rotateZ(-90deg)
}

.west {
    left: 95px;
    top: 25px; 
    transform: rotateZ(90deg)
}

.south {
    left: 115px;
    top: 40px;
}

@font-face {
    font-family: RobotoSlab-Thin; 
    src: url(fonts/RobotoSlab-Thin.ttf);  
}
@font-face {
    font-family: RobotoSlab-Regular; 
    src: url(fonts/RobotoSlab-Regular.ttf);  
}
@font-face {
    font-family: RobotoSlab-Light; 
    src: url(fonts/RobotoSlab-Light.ttf);  
}
@font-face {
    font-family: RobotoSlab-Bold; 
    src: url(fonts/RobotoSlab-Bold.ttf);  
}

.pointer {
    position: relative;
    margin: auto;
    width: 95px;
    height: 95px;
    background: #BE4D45;
    margin-top: -162px;
    transform: rotateZ(45deg);
    border-radius: 100px;
    border-top-left-radius: 0;
}

.pointerCenter {
    position: relative;
    background: #AB4540;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    bottom: -7.5px;
    left: 7.5px;
    box-shadow:inset 0px 1px 2px rgba(0,0,0,0.5);
    transform: rotateZ(-45deg);
}

.direction, .degree {
    position: relative;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.direction {
    padding-top: 10px;
    font-family: RobotoSlab-Regular;  
}

.degree {
    margin-top: -4px;
    margin-left: 8px;
    font-family: RobotoSlab-Thin; 
}